.miniCartBody :global(h3) {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0rem;
}

.miniCartBody :global(.item) {
    padding: 0.75rem 0;
}

.miniCartBody :global(.item .shrink-0 img) {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 0.375rem;
    padding: 0;
}

.miniCartBody :global(.item > div),
.miniCartBody :global(.item .gap-4) {
    gap: .5rem;
}

.miniCartBody :global(.item h3 + p) {
    font-size: 1rem;
}

.miniCartBody :global(.item h3 + p + div) {
    gap: .25rem;
}

.miniCartBody :global(.item h3 + p + div button) {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0;
}

.miniCartBody :global(.item h3 + p + div button svg) {
    width: 1rem;
    height: 1rem;
    border-radius: 0;
}

.miniCartBody :global(.item div > p) {
    font-size: .75rem;
}

.miniCartBody :global(.item div > p + button) {
    text-indent: -9999em;
}